:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-orange: rgb(254, 235, 209);
  --light-white: #ebe9e9;
  --slate: slategray;
  --medium-slate: rgb(59, 75, 93);
  --dark-slate: darkslategray;
  --light-slate: lightslategray;
  --color-dark: rgb(27, 29, 30);
  --orange: rgb(228, 115, 28);
  --dark-orange: rgb(220, 105, 23);
  --dark-blue: rgb(4, 43, 106);

  --font-main: "open sans";
  --font-other: "Moon Dance";
}
::selection {
  background-color: var(--light-orange);
  color: var(--dark-orange);
}
/* Customizing classes */
.flex {
  display: flex;
}
/* End of customizing classes */
* {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  position: relative;
  color: var(--color-dark);
}
html {
  font-size: 10px;
}
body {
  width: 100%;
  height: 100vh;
  background-color: var(--light-white);
}
header {
  position: relative;
  width: full;
  min-height: 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem 6rem;
  background-color: var(--light-orange);
  margin: 0 auto 2rem;
}

.contact-info-holder,
.navigate {
  width: 98%;
  margin: 1rem auto;
  align-items: center;
  justify-content: space-between;
}

.contact-info-holder {
  padding: 1rem 2rem;
  background-color: transparent;
  justify-content: center;
  gap: 15%;
}

.contact-info-holder h3 {
  font-size: 1.5rem;
  color: var(--dark-blue);
}
.contact-info-holder i {
  color: var(--orange);
}

.contact-info-holder a {
  color: var(--dark-blue);
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: justify !important;
}

.contact-info-holder :where(a, i, h3):hover,
.contact-info-holder :where(a, h3):hover i {
  color: var(--orange);
  text-decoration: underline;
  cursor: pointer;
}
.navigate {
  background-color: var(--medium-slate); /*#99bcc6; */
  min-width: full;
  border-radius: 0.5rem;
  padding: 2rem 1rem;
}

.navigate > h2.title {
  color: var(--light-white);
  font-size: 3rem;
  width: 30%;
  text-align: left;
  padding-left: 2rem;
  text-wrap: nowrap;
}
.navigate h2 > span.subtitle {
  font-family: "dancing script";
  font-size: 4rem;
  font-weight: 900;
  color: var(--dark-orange);
  position: absolute;
  left: 2.5rem;
  bottom: -1.5rem;
  z-index: 1;
}
.navigate .navs {
  position: relative;
  list-style-type: none;
  min-width: 65%;
  justify-content: space-evenly;
  font-size: 1.8rem;
}

.navigate .navs li {
  background-color: var(--slate);
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  transition: scale 0.3s ease-in-out;
  cursor: pointer;
}
.navs li a {
  color: var(--light-white);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.2mm;
}

.navs li:hover {
  background-color: var(--dark-orange);
  scale: 1.1;
}

.navs li:first-of-type {
  background-color: var(--orange);
}

.navigate i.menu {
  font-size: 3.5rem;
  color: var(--dark-blue);
  display: none;
}

@media screen and (max-width: 46em) {
  .navs {
    display: none;
  }
  .navigate {
    margin: 0;
  }
  .navigate i.menu {
    display: flex;
    margin-right: 10%;
  }
  .contact-info-holder {
    flex-direction: column;
    align-items: self-start;
    gap: 0.5rem;
  }
  .contact-info-holder > * {
    margin: 0;
  }
}

/* Hero Section */
section.hero-container{
  background-color: var(--medium-slate);
  width: full;
}
.hero-details-holder{
  position: relative;
  min-width: 50%;
  flex-direction: column;
  color: var(--light-orange);
  padding: 1.5rem;
  text-align: center;
}
.hero-details-holder h2{
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  font-family: 'Moon dance';
  text-wrap: nowrap;
  color: var(--light-orange);
  text-transform: uppercase;

}
.hero-details-holder h3{
  color: var(--light-white);
  font-size: 3rem;
  margin-top: 5rem;
}
.hero-details-holder strong{
  color: var(--orange);
}
.hero-details-holder p{
  font-weight: 600;
  font-size: 2.4rem;
  margin-bottom: 5rem;
  color: var(--light-orange);
}
.hero-details-holder p>strong{
  display: block;
}

.unique-details{
  width: 80%;
  margin: 1.5rem auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: .8rem;
}

.unique-detail{
  background-color: var(--light-orange);
  color: var(--dark-orange);
  padding: 1rem 2rem;
  border-radius: 2.8rem;
  min-height: 10rem;
  width: 25rem;
  text-align: center;
  place-content: center;
  margin: .5rem;
  flex-direction: column;
  font-size: 1.8rem;
}
.unique-detail i{
  font-style: normal;
  font-weight: 700;
  font-size: 3.5rem;
  color: var(--dark-orange);
  width: 10rem;
  height: 10rem;
  margin: 1rem auto;
  border: .8rem solid var(--dark-slate);
  place-content: center;
  border-radius: 50%;
}

.btn-holder{
    justify-content: center;
    margin: 4rem auto 2rem;
    gap: 5rem;
}
button{
  all: unset;
}

.btn-holder button{
  padding: 2rem 8rem;
  margin: 1rem 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  border-radius: 1rem;
  border: .4rem solid;
  letter-spacing: .3mm;
  cursor: pointer;
}

.btn-holder .explore{
  border-color: var(--light-orange);
  color: var(--light-orange);
}
.btn-holder .book-house{
  background-color: var(--light-orange);
  border: none;
  color: var(--medium-slate)
}

img{
  max-width: 48.2%;
  max-height: 95vh;
  object-fit: cover;
  border-radius: 2rem 0 0 2rem;
}

