:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-orange: rgb(254, 235, 209);
  --light-white: #ebe9e9;
  --slate: rgb(101, 119, 137);
  --medium-slate: rgb(59, 75, 93);
  --dark-slate: darkslategray;
  --light-slate: lightslategray;
  --color-dark: rgb(27, 29, 30);
  --orange: rgb(228, 115, 28);
  --dark-orange: rgb(220, 105, 23);
  --dark-blue: rgb(4, 43, 106);
  --dark-brown: rgb(90, 43, 2);

  --font-main: "open sans";
  --font-other: "Moon Dance";
}
::selection {
  background-color: var(--light-white);
  color: var(--dark-slate);
}
/* Customizing classes */
.flex {
  display: flex;
}
button,
button > a {
  all: unset;
}
button {
  cursor: pointer;
  transition: scale 0.4s ease-in-out;
}
button:active {
  scale: 0.95;
}
/* End of customizing classes */
* {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  position: relative;
  color: var(--color-dark);
}
html {
  font-size: 10px;
}
body {
  width: 100%;
  height: 100vh;
  background-color: var(--light-white);
}
header {
  position: relative;
  width: full;
  min-height: 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0 3rem;
  background-color: var(--light-orange);
  margin: 0 auto;
}

.contact-info-holder,
.navigate {
  width: 98%;
  margin: 1rem auto;
  align-items: center;
  justify-content: space-between;
}

.contact-info-holder {
  padding: 1rem 2rem;
  background-color: transparent;
  justify-content: center;
  gap: 15%;
}

.contact-info-holder h3 {
  font-size: 1.5rem;
  color: var(--dark-blue);
}
.contact-info-holder i {
  color: var(--orange);
}

.contact-info-holder a {
  color: var(--dark-blue);
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: justify !important;
}

.contact-info-holder :where(a, i, h3):hover,
.contact-info-holder :where(a, h3):hover i {
  color: var(--orange);
  text-decoration: underline;
  cursor: pointer;
}
.navigate {
  background-color: var(--medium-slate); /*#99bcc6; */
  min-width: full;
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  position: sticky !important;
  top: 10rem;
}

.navigate > h2.title {
  color: var(--light-white);
  font-size: 3rem;
  width: 30%;
  text-align: left;
  padding-left: 2rem;
  text-wrap: nowrap;
}
.navigate h2 > span.subtitle {
  font-family: "dancing script";
  font-size: 4rem;
  font-weight: 900;
  color: var(--dark-orange);
  position: absolute;
  left: 2.5rem;
  bottom: -1.5rem;
  z-index: 1;
}
.navigate .navs {
  position: relative;
  list-style-type: none;
  min-width: 65%;
  justify-content: space-evenly;
  font-size: 1.8rem;
}

.navigate .navs li {
  background-color: var(--slate);
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  transition: scale 0.3s ease-in-out;
  cursor: pointer;
}
.navs li a {
  color: var(--light-white);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.2mm;
}

.navs li:hover {
  background-color: var(--orange);
  scale: 1.1;
}

.navs li:first-of-type {
  background-color: var(--orange);
}

.navigate i.menu {
  font-size: 3.5rem;
  color: var(--dark-blue);
  display: none;
}
@media screen and (max-width: 56em) and (min-width: 46em) {
  .navs li:hover {
    scale: 1.03;
  }
  .navs li {
    padding: 0.8rem !important;
  }
}

@media screen and (max-width: 46em) {
  .navs {
    display: none;
  }
  .navigate {
    margin: 0;
  }
  .navigate i.menu {
    display: flex;
    margin-right: 10%;
  }
  .contact-info-holder {
    flex-direction: column;
    align-items: self-start;
    gap: 0.5rem;
  }
  .contact-info-holder > * {
    margin: 0;
  }
}

/* Hero Section */
section.hero-container {
  background-color: var(--medium-slate);
  width: full;
}
.hero-details-holder {
  position: relative;
  min-width: 50%;
  flex-direction: column;
  color: var(--light-orange);
  padding: 1.5rem;
  text-align: center;
}
.hero-details-holder h2 {
  text-align: center;
  font-size: 5rem;
  font-weight: 900;
  font-family: "Moon dance";
  color: var(--light-orange);
  text-transform: uppercase;
  margin: 0;
}
.hero-details-holder h3 {
  color: var(--light-white);
  font-size: 3rem;
  margin-top: 1rem;
}
.hero-details-holder strong {
  color: var(--orange);
}
.hero-details-holder :where(h3, p) {
  line-height: 1.8cm;
}
.hero-details-holder p {
  font-weight: 600;
  font-size: 2.4rem;
  margin-bottom: 5rem;
  color: var(--light-orange);
}
.hero-details-holder p > strong {
  display: block;
}

.unique-details {
  width: 99%;
  margin: 1.5rem auto 0;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.unique-detail {
  background-color: var(--light-orange);
  color: var(--dark-orange);
  padding: 1rem 2rem;
  border-radius: 2.8rem;
  width: 23rem;
  text-align: center;
  place-content: center;
  margin: 0.5rem 0;
  flex-direction: column;
  font-size: 1.8rem;
}
.unique-detail i {
  font-style: normal;
  font-weight: 700;
  font-size: 3.5rem;
  color: var(--dark-orange);
  width: 10rem;
  height: 10rem;
  margin: 1rem auto;
  border: 0.8rem solid var(--dark-slate);
  place-content: center;
  border-radius: 50%;
}

.btn-holder {
  justify-content: center;
  margin: 4rem auto 2rem;
  gap: 5rem;
}
.btn-holder button {
  padding: 2rem 8rem;
  margin: 1rem 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  border-radius: 1rem;
  border: 0.4rem solid;
  letter-spacing: 0.3mm;
  cursor: pointer;
  text-wrap: nowrap;
}
.btn-holder .explore {
  border-color: var(--light-orange);
  color: var(--light-orange);
  transition: all 0.4s ease-in-out;
}
.btn-holder .explore:hover {
  color: var(--medium-slate);
  background-color: var(--light-orange);
}
.btn-holder .book-house {
  background-color: var(--light-orange);
  border: none;
  color: var(--medium-slate);
  transition: opacity 0.2s ease-in-out;
}
.btn-holder .book-house:hover {
  opacity: 0.75;
}

.hero-container img {
  margin-top: 1rem;
  max-width: 48.2%;
  max-height: 95vh;
  object-fit: cover;
  border-radius: 2rem 0 0 2rem;
}

@media screen and (max-width: 96em) and (min-width: 84em) {
  .btn-holder button {
    margin-top: 3.9rem;
  }
}
@media screen and (max-width: 70em) {
  section.hero-container {
    flex-direction: column-reverse;
  }
  .hero-container img {
    place-self: center;
    max-width: 95%;
    margin-top: 2rem;
    border-radius: 2rem;
  }
}
@media screen and (max-width: 49.5em) {
  .btn-holder {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 24em) {
  .btn-holder :is(.explore, .book-house) {
    margin-left: -1rem;
  }
}
/* end of Hero section */
/*Scroll to top button*/
.scroll-to-top {
  background-color: var(--dark-brown);
  height: 6rem;
  width: 6rem;
  font-size: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30;
  position: fixed;
  right: 4rem;
  bottom: 12rem;
}
.scroll-to-top a {
  color: var(--light-orange);
  text-decoration: none;
}
/*End Scroll to top button*/

/* main Section */
main {
  flex-direction: column;
  margin: 1rem auto;
  width: 99%;
  padding: 2rem 1rem;
}

main h2,
.contact-title {
  text-align: center;
  margin: 2rem auto 4rem;
  font-size: 5rem;
  font-weight: 800;
  text-transform: capitalize;
  color: var(--dark-brown);
}
main h2,
.contact-title {
  position: sticky;
  top: 0;
  z-index: 3;
  height: 7rem;
  width: 100%;
  background-color: var(--light-white);
  line-height: 1.5cm;
}
.house-categories {
  padding: 4rem 1rem;
  background-color: lightslategray;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.house-card {
  flex-direction: column;
  max-width: 40rem;
  padding-bottom: 0.6rem;
  height: 48rem;
  overflow: hidden;
  border-radius: 1.5rem !important;
  box-shadow: 0 0 0.5rem rgb(250, 111, 4);
  margin: 3.5rem auto;
}
.oneB .house-description li {
  margin: 0;
}
.oneB .house-description p {
  margin: 0;
}
.twoB img {
  min-height: 26rem;
}
.house-card img {
  height: 26rem;
  object-fit: cover;
}
.house-card button.book-house {
  position: absolute;
  border-radius: 0.5rem;
  right: 0.6rem;
  bottom: 50%;
  color: var(--dark-blue);
  background-color: #ebe9e9cf;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 1px 1px 1rem var(--orange);
  transition: transform 0.3s ease-in-out;
}
.house-card button.book-house:hover {
  transform: translateY(-0.5rem);
}
.house-card .house-description {
  padding: 2rem;
  margin: 0 0 1rem;
  background-color: rgb(244, 250, 251);
  min-height: 22rem;
}
.house-description h3 {
  text-transform: uppercase;
  font-size: 2.4rem;
  margin: -1.5rem 0 1rem;
  color: var(--dark-brown);
}
.house-description li {
  list-style-type: none;
  margin: 1.5rem auto;
  font-size: 1.6rem;
}
.house-description li :where(i, b) {
  color: var(--dark-slate);
}
.house-description li u {
  text-decoration: none;
  margin: 0 1rem 0;
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--orange);
}
.house-description p {
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  color: var(--dark-brown);
  font-weight: 500;
}

@media screen and (min-width: 117em) and (max-width: 132.625em) {
  .house-card {
    max-width: 42rem;
  }
  .house-categories {
    gap: 4rem;
  }
}
@media screen and (min-width: 88.625em) and (max-width: 106.875em) {
  .house-card {
    max-width: 45rem;
  }
  .house-categories {
    gap: 4rem;
  }
}
@media screen and (min-width: 62.625em) and (max-width: 79.875em) {
  .house-card {
    max-width: 47rem;
  }
  .house-categories {
    gap: 4.5rem;
  }
  main h2 {
    height: 11rem;
  }
}
@media screen and (min-width: 31.25em) and (max-width: 52.5em) {
  .house-card,
  .oneB,
  .twoB {
    max-width: 58rem;
  }
  .house-categories {
    gap: rem;
  }
  main h2 {
    height: 11rem;
  }
}

/* Amenities */
section.amenities {
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 3rem;
  margin-bottom: 4rem;
}

.amenity-card {
  flex-direction: column;
  height: 32rem;
  width: 32rem;
  align-items: center;
  justify-content: center;
  background-color: var(--medium-slate);
  border-radius: 1.5rem;
  padding: 1rem;
  margin: 0.5rem 1.5rem;
}
.amenity-card img {
  margin-bottom: 2rem;
  width: 20rem;
  background-color: var(--light-white);
  border-radius: 50%;
  object-fit: cover;
}
.amenity-card p {
  font-size: 1.7rem;
  color: var(--light-orange);
  text-align: center;
}
.amenity-card p > strong {
  display: block;
  color: var(--orange);
  font-size: 2.5rem;
}
/* End of Amenities*/
/* End of main Section */

/* contact and footer Section */
section#contact {
  flex-direction: column;
  background-color: rgb(253, 249, 240);
  width: 100%;
}
section#contact > p {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.8rem;
  color: var(--dark-blue);
  letter-spacing: 0.3mm;
}
.contact-info {
  width: 75%;
  margin: 2rem auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-info .phone-email,
.socials {
  margin: 1rem auto;
  border: 3px solid var(--dark-orange);
  border-radius: 0.4rem;
  padding: 1rem 0;
  font-size: 1.8rem;
  font-weight: 600;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 100%;
}
form {
  background-color: var(--light-white);
  min-height: 40rem;
  width: 70%;
  margin: 0.5rem auto 8rem;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem var(--dark-brown);
}
.email,
.message,
.fname,
.lname {
  flex-direction: column;
  gap: 0.3rem;
  margin: 2rem auto;
  min-width: 49%;
}
form label {
  font-size: 1.5rem;
  font-weight: 700;
}
form input::placeholder {
  color: var(--dark-blue);
}
.names-holder {
  width: 100%;
  flex-wrap: wrap;
}
form input,
form textarea {
  outline: none;
  padding: 1.5rem 2.5rem;
  font-size: 1.8rem;
  color: var(--dark-blue);
  border-radius: 0.5rem;
  border: none;
  font-weight: 500;
}
form textarea {
  max-width: 96%;
  max-height: 15rem;
  overflow-y: scroll;
}
form button[type="submit"] {
  font-size: 1.6rem;
  font-weight: 600;
  background-color: var(--slate);
  padding: inherit;
  margin: 1rem auto;
  margin-left: 1rem;
  border-radius: 0.4rem;
  color: var(--light-white);
  cursor: pointer;
}
form button[type="submit"]:hover {
  background-color: var(--dark-slate);
}
@media screen and (max-width: 46.5626em){
  .fname, .lname{
    min-width: 95%;
  }
  .scroll-to-top{
    right: 8rem;
  }
}
footer {
  background-color: var(--medium-slate);
  height: 10rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 99.9%;
}
footer p {
  display: inline;
  color: var(--light-white);
  font-size: 1.8rem;
  padding: 1rem;
  letter-spacing: 0.2mm;
}
footer p:first-of-type {
  margin-top: 3rem;
}
footer p > a {
  color: var(--light-orange);
}
/*End of contact and footer Section*/
